@model TP10.ViewModels.CrearTareaViewModel

<h1>Crear Tarea</h1>

<form asp-action="Alta" asp-controller="Tarea" method="post">

    <div>
        <label for="IdTab">Id Tablero:</label>
        <input type="number" id="IdTab" name="IdTab" />
        <label for="Nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" />
        <label for="est">Estado:</label>
        <input type="text" id="est" name="Estado" />
        <label for="desc">Descripción:</label>
        <input type="text" id="desc" name="Descripcion" />
        <label for="color">Color:</label>
        <input type="text" id="color" name="Color" />
        <label for="IdUsu">Id Usuario:</label>
        <input type="number" id="IdUsu" name="IdUsuario" />
    </div>

    <div>
        <button type="submit">Crear</button>
    </div>
</form>
