<h1>Crear Usuario</h1>

<form id="crearUsuarioForm">

    <div>
        <label for="Nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre"/>
    </div>

    <div>
        <button type="button" onclick="guardar()">Crear</button>
    </div> 
</form>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function guardar(event) {
            //event.preventDefault();

            var formData = $("#crearUsuarioForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Usuario/Alta",
                data: formData,
                success: function (data) {
                    console.log("Usuario creado con éxito");
                },
                error: function (error) {
                    console.error("Error al crear usuario: " + error.statusText);
                }
            });
        }
    </script>

}