@model TP10.ViewModels.CrearUsuarioViewModel

<h1>Crear Usuario</h1>

<form asp-action="Alta" asp-controller="Usuario" method="post" class="form-control">

    <label for="Nombre">Nombre:</label>
    <input type="text" id="Nombre" name="Nombre" />

    <label for="contra">Contraseña:</label>
    <input type="password" id="contra" name="Contrasenia" />

    <label for="rol">Rol:</label>
    <input type="text" id="rol" name="Rol" />

    <button type="submit">Crear</button>
</form>

