@model Kanban.Models.Usuario

<h1>Editar Usuario</h1>

<form id="editarUsuarioForm">
    @Html.HiddenFor(model => model.Id) 

    <div>
        <label for="Nombre">Nombre:</label>
        <input type="text" id="Nombre" name="Nombre" value="@Model.Nombre" />
    </div>
    <div>
        <button type="button" onclick="guardarEdicion()">Guardar cambios</button>
    </div>
</form>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function guardarEdicion() {
            var formData = $("#editarUsuarioForm").serialize();

            $.ajax({
                type: "POST",
                url: "/Usuario/Editar",
                data: formData,
                success: function (data) {
                   
                    console.log("Usuario editado con éxito");
                },
                error: function (error) {
                    console.error("Error al editar usuario: " + error.statusText);
                }
            });
        }
    </script>
}
