@using TP10.ViewModels
@model List<UsuarioViewModel>

<div class="container mt-4">
    <h1>Listado de Usuarios</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model)
            {
                <tr>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Rol</td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="EditarOperador" asp-controller="Usuario" asp-route-id="@usuario.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.hidden-menu').removeClass('hidden-menu');
        });
    </script>
}
